@import "./variables";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-light-1 bg-black;
  /* font-family: var(--primary-font); */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
